*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100px;
    width: 80%;
    margin: auto;
}
.buttons{
    width: 100%;
    margin-top: 30px;
}
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-main{
    width: 1020px;
    margin-top: 30px;
    object-fit: cover;
    border: 1px solid #1976d2 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

#suggest-box {
    position: relative;
}
